In [19]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [20]:
df = pd.read_csv('dataset/battles_encoded.csv')

In [21]:
df.head()

,name,year,attacker_king,defender_king,attacker_1,defender_1,attacker_outcome,battle_type,major_death,major_capture,attacker_size,defender_size,summer,location,region,attacker_count,defender_count,attacker_commander_count,defender_commander_count
0,14,298,1,3,9,10,1,1,1.0,0.0,15000.0,4000.0,1.0,6,6,1,1,1,2
1,0,298,1,3,9,0,1,0,1.0,0.0,NaN,120.0,1.0,11,4,1,1,1,1
2,6,298,1,3,9,10,1,1,0.0,1.0,15000.0,10000.0,1.0,15,4,1,1,2,2
3,15,298,3,1,10,6,0,1,1.0,1.0,18000.0,20000.0,1.0,7,4,1,1,5,4
4,19,298,3,1,10,6,1,0,1.0,1.0,1875.0,6000.0,1.0,25,4,2,1,2,1

In [22]:
y = df['attacker_outcome']
X = df.drop(columns='attacker_outcome')

In [23]:
from sklearn.experimental import enable_iterative_imputer  
from sklearn.impute import IterativeImputer

from sklearn.pipeline import make_pipeline
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold

from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from xgboost import XGBClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeRegressor

In [24]:
# np.random.seed(0)

impute_estimator = DecisionTreeRegressor(max_features='sqrt', random_state=0)

classifier = [
    RandomForestClassifier(),
    SVC(),
    XGBClassifier(),
    KNeighborsClassifier()
]

cv = KFold(n_splits=10, random_state=0, shuffle=True)

for cf in classifier:
    
    rf = make_pipeline(IterativeImputer(random_state=0, estimator=impute_estimator),
                        cf
                        )
    scores = cross_val_score(rf, X, y, scoring='balanced_accuracy', cv=cv, n_jobs=-1)
    
    print(cf.__class__.__name__ + ' Balanced acc: %.3f (%.3f)' % (np.mean(scores), np.std(scores)))

RandomForestClassifier Balanced acc: 0.925 (0.160)
SVC Balanced acc: 0.775 (0.236)
XGBClassifier Balanced acc: 0.925 (0.160)
KNeighborsClassifier Balanced acc: 0.850 (0.229)