In [229]:
import numpy as np
import pandas as pd

In [230]:
battles = pd.read_csv('dataset/battles.csv')

In [231]:
battles.head()

,name,year,battle_number,attacker_king,defender_king,attacker_1,attacker_2,attacker_3,attacker_4,defender_1,...,major_death,major_capture,attacker_size,defender_size,attacker_commander,defender_commander,summer,location,region,note
0,Battle of the Golden Tooth,298,1,Joffrey/Tommen Baratheon,Robb Stark,Lannister,NaN,NaN,NaN,Tully,...,1.0,0.0,15000.0,4000.0,Jaime Lannister,"Clement Piper, Vance",1.0,Golden Tooth,The Westerlands,NaN
1,Battle at the Mummer's Ford,298,2,Joffrey/Tommen Baratheon,Robb Stark,Lannister,NaN,NaN,NaN,Baratheon,...,1.0,0.0,NaN,120.0,Gregor Clegane,Beric Dondarrion,1.0,Mummer's Ford,The Riverlands,NaN
2,Battle of Riverrun,298,3,Joffrey/Tommen Baratheon,Robb Stark,Lannister,NaN,NaN,NaN,Tully,...,0.0,1.0,15000.0,10000.0,"Jaime Lannister, Andros Brax","Edmure Tully, Tytos Blackwood",1.0,Riverrun,The Riverlands,NaN
3,Battle of the Green Fork,298,4,Robb Stark,Joffrey/Tommen Baratheon,Stark,NaN,NaN,NaN,Lannister,...,1.0,1.0,18000.0,20000.0,"Roose Bolton, Wylis Manderly, Medger Cerwyn, H...","Tywin Lannister, Gregor Clegane, Kevan Lannist...",1.0,Green Fork,The Riverlands,NaN
4,Battle of the Whispering Wood,298,5,Robb Stark,Joffrey/Tommen Baratheon,Stark,Tully,NaN,NaN,Lannister,...,1.0,1.0,1875.0,6000.0,"Robb Stark, Brynden Tully",Jaime Lannister,1.0,Whispering Wood,The Riverlands,NaN

In [232]:
df = battles.copy()

### *battle_type* pada baris ke-37

melakukan input missing value pada kolom *battle_type* sesuai dengan battle *name* pada baris ke-37

In [233]:
df.loc[37,['name','battle_type']]

name           Siege of Winterfell
battle_type                    NaN
Name: 37, dtype: object

In [234]:
df.loc[37, 'battle_type'] = 'siege'

In [235]:
df.loc[37,['name','battle_type']]

name           Siege of Winterfell
battle_type                  siege
Name: 37, dtype: object

### *attacker_king* dan *defender_king* baris ke-27
melakukan penukaran nama *attacker_king* dan *defender_king* karena terjadi kesalahan pada dataset, hasil temuan dari eksplorasi dataset

In [236]:
df[['attacker_king','defender_king']].loc[27]

attacker_king    Stannis Baratheon
defender_king         Mance Rayder
Name: 27, dtype: object

In [237]:
df.loc[27, 'attacker_king'] = 'Mance Rayder'
df.loc[27, 'defender_king'] = 'Stannis Baratheon'

In [238]:
df[['attacker_king','defender_king']].loc[27]

attacker_king         Mance Rayder
defender_king    Stannis Baratheon
Name: 27, dtype: object

## Feature Extraction

### *attacker_count* dan *defender_count*
menghitung jumlah major house attacker dan major house defender

In [239]:
df['attacker_count'] = np.nan
df['defender_count'] = np.nan

In [240]:
df[['attacker_count','defender_count']].head()

   attacker_count  defender_count
0             NaN             NaN
1             NaN             NaN
2             NaN             NaN
3             NaN             NaN
4             NaN             NaN

In [241]:
atk_count = []
def_count = []
for idx,row in df.iterrows():
    atk_c = row[['attacker_1','attacker_2','attacker_3','attacker_4']].notnull().sum()
    def_c = row[['defender_1','defender_2','defender_3','defender_4']].notnull().sum()
    atk_count.append(atk_c)
    def_count.append(def_c)
df['attacker_count'] = atk_count
df['defender_count'] = def_count

In [242]:
df[['attacker_count','defender_count']].head()

   attacker_count  defender_count
0               1               1
1               1               1
2               1               1
3               1               1
4               2               1

### attacker_commander_count dan defender_commander_count
menghitung jumlah attacker commander dan defender commander

In [243]:
df['attacker_commander_count'] = np.nan
df['defender_commander_count'] = np.nan

In [244]:
df[['attacker_commander_count','defender_commander_count']].head()

   attacker_commander_count  defender_commander_count
0                       NaN                       NaN
1                       NaN                       NaN
2                       NaN                       NaN
3                       NaN                       NaN
4                       NaN                       NaN

In [255]:
df['attacker_commander_count'] = df['attacker_commander'].str.split(',').str.len()
df['defender_commander_count'] = df['defender_commander'].str.split(',').str.len()

# mengubah nilai NaN menjadi 0, yang artinya tidak memiliki commander
df['attacker_commander_count'].fillna(value=0,inplace=True)
df['defender_commander_count'].fillna(value=0,inplace=True)

df['attacker_commander_count'] = df['attacker_commander_count'].astype(int)
df['defender_commander_count'] = df['defender_commander_count'].astype(int)

In [256]:
df[['attacker_commander_count','defender_commander_count']].head()

   attacker_commander_count  defender_commander_count
0                         1                         2
1                         1                         1
2                         2                         2
3                         5                         4
4                         2                         1

## Drop Column
menghapus kolom dengan persentase nilai null lebih dari 60%

In [248]:
df = df.loc[:, df.isnull().mean() <= .6]

In [257]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   name                      38 non-null     object
 1   year                      38 non-null     int64
 2   battle_number             38 non-null     int64
 3   attacker_king             36 non-null     object
 4   defender_king             35 non-null     object
 5   attacker_1                38 non-null     object
 6   defender_1                37 non-null     object
 7   attacker_outcome          37 non-null     object
 8   battle_type               38 non-null     object
 9   major_death               37 non-null     float64
 10  major_capture             37 non-null     float64
 11  attacker_size             24 non-null     float64
 12  defender_size             19 non-null     float64
 13  attacker_commander        37 non-null     object
 14  defender_commander        28 non-null     object
 15  summer                    37 non-null     float64
 16  location                  37 non-null     object
 17  region                    38 non-null     object
 18  attacker_count            38 non-null     int64
 19  defender_count            38 non-null     int64
 20  attacker_commander_count  38 non-null     int32
 21  defender_commander_count  38 non-null     int32
dtypes: float64(5), int32(2), int64(4), object(11)
memory usage: 6.4+ KB

## Data Imputation
- MiceForest
- IterativeImputer
- SimpleImputer